.register-parent-container {
    width: 100%;
    height: 100vh;
    /* background-color: #0a66c2; */
    display: flex;
  }
  .register-container {
    width: 60%;
    height: 100%;
    /* margin: 0 auto; */
    /* padding: 40px; */
    /* background-color: #000; */
  
    /* border: 1px solid #0a0a0a; */
    /* border-radius: 4px; */
  }
  
  .log--in--form--center {
    display: flex;
    flex-direction: column;
    align-items: center;
    /* width: 100%; */
  }
  
  .log--in--form-container {
    width: 60%;
    align-items: center;
  }
  
  .image-container {
    background: #e05858ff;
    width: 40%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  
  .img--space--signup {
    background-image: url('./images/rightbg.png');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 445px;
    height: 418px;
  
  }
  
  .register-heading {
    font-size: 44px;
    font-weight: bold;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .form-control {
    width: 100%;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .form-control #toggler {
    position: absolute;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .btn-register {
    display: block;
    width: 100%;
    padding: 12px;
    background-color: #e05858ff;
    color: #fff;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 32px;
  }
  
  .btn-register:hover {
    background-color: #094c8e;
  }
  
  .response-message {
    margin-top: 20px;
    font-size: 16px;
    color: #555;
  }
  
  .label-before,
  .field input:focus + label::before,
  .field input:valid + label::before {
    line-height: 20px;
    font-size: 12px;
    top: -10px;
    background: #fff;
    padding: 0 6px;
    left: 9px;
  }
  
  .field {
    position: relative;
    margin-bottom: 15px;
  }
  .field label::before {
    content: attr(title);
    position: absolute;
    top: 0;
    left: 15px;
    line-height: 40px;
    font-size: 14px;
    color: #777;
    transition: 300ms all;
  }
  .field input {
    width: 100%;
    line-height: 40px;
    padding: 0 15px;
    box-sizing: border-box;
    font-size: 14px;
    color: #222;
    border: 1px solid #ccc;
    border-radius: 3px;
  }
  .field input:focus {
    outline: 0;
    border-color: blue;
  }
  .field input:valid + label::before {
    content: attr(data-title);
  }
  .field input:focus + label::before {
    color: blue;
  }
  
  .log--in--form--auth--container {
    margin-top: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .log--in--form--social--buttons {
    display: flex;
    flex-direction: row;
    gap: 8px;
    /* margin-top: 32px; */
  }
  
  .log--in--form--google--button {
    width: 100px;
    height: 100px;
    background-color: #fef1f1ff;
    border-radius: 18px;
    height: 36px;
    width: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .log--in--form--facebook--button {
    width: 100px;
    height: 100px;
    background-color: #f3f6fbff;
    border-radius: 18px;
    height: 36px;
    width: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .log--in--form--apple--button {
    width: 100px;
    height: 100px;
    background-color: #f3f4f6ff;
    border-radius: 18px;
    height: 36px;
    width: 78px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-icon {
    width: 24px;
    height: 24px;
  }

  .field i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
  }

  .additional-options-container {
    display: flex;
    align-items: center;
  }
  
  .remember-me-container {
    display: flex;
    align-items: center;
    cursor: pointer;
    white-space: nowrap; /* Prevents text from wrapping */
    margin-right: 20px;
    /* background-color: #094c8e; */
  }


  
  .remember-me-checkbox {
    margin-right: 8px; /* Adjust this value as needed */
  }

  .remember-me-text {
    padding-right: 15px;
  }
  
  .forgot-password-container {
    margin-left: auto;
  }
  
  /* Optional: Add styles for the link if desired */
  .forgot-password-container a {
    color: blue; /* Adjust link color as needed */
    text-decoration: none;
  }
  
  .forgot-password-container a:hover {
    text-decoration: underline;
  }


  .register-link-container {
    text-align: center;
    margin-top: 20px;
  }
  
  .register-link-container p {
    font-size: 16px;
    margin: 0;
  }
  
  .register-link-container .register-link {
    color: #007bff; /* Adjust link color as needed */
    text-decoration: none;
    padding: 5px 10px; /* Add padding to the link */
    transition: background-color 0.3s; /* Add transition effect for smooth hover */
    border-radius: 5px;
  }
  
  .register-link-container .register-link:hover {
    text-decoration: underline;
    background-color: #007bff; /* Background color when hovered */
  color: #fff;
  }
  
  